<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483029604744-fc0qsh7juhdmupglkprhk23sbk7efutf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483029604744-fc0qsh7juhdmupglkprhk23sbk7efutf</string>
	<key>API_KEY</key>
	<string>AIzaSyBz3wcw1T71kdOc7ZRGhlkY2BItZ5tsG-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>483029604744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indiekid</string>
	<key>PROJECT_ID</key>
	<string>indiekid-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>indiekid-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483029604744:ios:b99380dbf2431e61bc023d</string>
</dict>
</plist>